name: CI/CD - Flask DevOps API

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  # ===========================
  #        BUILD
  # ===========================
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Build da imagem Docker
        run: |
          docker build -t minha-api:latest .

  # ===========================
  #        TEST
  # ===========================
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Build da imagem Docker para testes
        run: |
          docker build -t devops-api-test:${{ github.sha }} .

      - name: Rodar testes dentro do container Docker
        run: |
          docker run --rm \
            -e PYTHONPATH=/app \
            devops-api-test:${{ github.sha }} \
            python -m pytest -v

  # ===========================
  #        DEPLOY
  # ===========================
  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Build da imagem Docker (Render faz o deploy)
        run: |
          docker build -t minha-api:latest .

      - name: Finaliza칞칚o do deploy
        run: echo "Deploy autom치tico ser치 feito pelo Render 游꿀"